@import url('https://fonts.googleapis.com/css2?family=Gloock&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
*{
    margin: 0;
    font-family: poppins;
}
.signup-nav{
    float:right;
  }
  
nav {
    background-color: #333;
    height: 80px;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border:2px solid orange ;
    margin:12px;
    font-family: poppins;
    font-size:30px;
    border-radius: 7px;
  }
  
  li a:hover {
    background-color: orange;
    border:2px solid #333;
  }
  .here{
    display: block;
    color: white;
    text-align: center;
    padding: 8px;
    text-decoration: none;
    border:2px solid #333;
    margin:12px;
    font-family: poppins;
    font-size:30px;
    border-radius: 7px;
    background-color: orange;
  }
  .container-thumb-courses{
    position:relative;
    height:600px;
  }
  .thumbnail{
    height: 100%;
    width:100%;
    margin-left:4%;
    box-sizing: border-box;
    margin-top: 7px;
    position: absolute;
    z-index: -1;
  }
  section
  {
    height: 35%;
    width:75%;
    color: antiquewhite;
    background-color: rgb(16, 66, 4);
    position: absolute;
    z-index: 9;
    margin-top:320px;
    margin-left:150px;
    border-radius:9px;
  }
  section button
  {
    margin-top:70px;
    margin-left:140px;
    font-size: 50px;
    background-color: rgb(16, 66, 4);
    color:white;
    border:none;
    border-radius:7px;
    font-family: 'Gloock', serif;
  }
  button:hover{
    background-color: white;
    color:rgb(16, 66, 4);
    
  }
  .matt1
  {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }
  .matt{
    
    display:flex;
    background-color: rgb(110, 24, 24);
    margin:10px;
    height: 150px;
    width:150px;
    justify-content: center;
    align-items: center;
    margin-left: 15px;
    border-radius:75px;
    /* padding:10px; */
  }
  .matt:hover{
    background-color: rgb(228, 214, 86);
    font-weight: bolder;
  }
  .matt:hover a{
    color:rgb(110, 24, 24);

  }

  a{
    font-size: 23px;
    margin-left: 12px;
    text-decoration: none;
    color: white;
  }
  .study-matt-head{
    text-align: center;
    font-family: 'Gloock', serif;
  }
  .study-material{
   position: relative;
   background-color: rgb(228, 214, 86);
   
  }
  .ncertsoln 
  {
    background-color: blue;
    /* position:absolute;
    z-index: index 1; */
  }
  .matt:hover .ncertsoln
  {
    display:flex;
    margin: 100px;
    flex-direction: row;
  }